## Config

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 30)

## Data

In [41]:
df_train = pd.read_parquet('M3_yearly_processed.parquet')
df_eval = pd.read_parquet('M3_yearly_simple_forecasts.parquet')

In [42]:
df_train.head()

   Series   N  NF      Category    Value       Date
0       1  20   6  MICRO          940.66 1975-01-01
1       1  20   6  MICRO         1084.86 1976-01-01
2       1  20   6  MICRO         1244.98 1977-01-01
3       1  20   6  MICRO         1445.02 1978-01-01
4       1  20   6  MICRO         1683.17 1979-01-01

In [43]:
df_eval.head()

   Series       Date      TimeGPT
0       1 1989-01-01  5121.754395
1       1 1990-01-01  4974.531738
2       1 1991-01-01  4750.660156
3       1 1992-01-01  4366.261719
4       1 1993-01-01  3914.425781

## Official Evaluation Metrics
Five accuracy measures:
1. Symmetric MAPE

2. Average Ranking

3. Median symmetric APE

4. Percentage Better

5. Median RAE

Forecasting metrics calculations with assist of github repository:
https://gist.github.com/bshishov/5dc237f59f019b26145648e2124ca1c9

In [44]:
%run '/Users/tomaltenborg/Documents/Master/Master thesis/Notebooks/forecasting_metrics.py'

#### NB! When using methods from this file nothing is multiplied with 100 for percentage operations!

### Symmetric MAPE (Mean Absolute Percentage Error)
The symmetric MAPE fluctuates between -200% and 200%

In [22]:
def calculate_smape(actuals, forecasts):
    """
    Calculate the Symmetric Mean Absolute Percentage Error (sMAPE) between two series.

    Parameters:
    - actuals: array-like, true values
    - forecasts: array-like, forecasted values

    Returns:
    - sMAPE: Symmetric Mean Absolute Percentage Error
    """
    # Convert inputs to numpy arrays for vectorized operations
    actuals = np.array(actuals)
    forecasts = np.array(forecasts)

    # Calculate the nominator and denominator
    nominator = np.abs(actuals - forecasts)

    # Calculate the sum of actuals and forecasts    
    denominator = (actuals + forecasts) / 2

    # Calculate smape
    smape = sum(nominator / denominator) / len(actuals) * 100

    return smape

In [32]:
def simple_smape(acutals, forecasts):
    """
    Calculate the Symmetric Mean Absolute Percentage Error (sMAPE) between two series.

    Parameters:
    - actuals: array-like, true values
    - forecasts: array-like, forecasted values

    Returns:
    - sMAPE: Symmetric Mean Absolute Percentage Error
    """
    # Convert inputs to numpy arrays for vectorized operations
    acutals = np.array(acutals)
    forecasts = np.array(forecasts)
    return 100/len(acutals) * np.sum(2 * np.abs(forecasts - acutals) / (np.abs(acutals) + np.abs(forecasts)))

In [33]:
actuals = np.array([136, 120, 138, 155, 149]) 
forecasts = np.array([134, 124, 132, 141, 149]) 

smape1 = calculate_smape(actuals, forecasts)
print(f'sMAPE: {smape1}%')

smape2 = simple_smape(actuals, forecasts)
print(f'sMAPE: {smape2}%')

sMAPE: 3.73281478199511%
sMAPE: 3.7328147819951103%

In [46]:
smape3 = smape(actuals, forecasts)
print(f'sMAPE: {smape3*100}%')

sMAPE: 3.732814781993763%

### Average ranking

### Median Symmetric APE

### Median RAE

In [39]:
mdrae = mdrae(actuals, forecasts)
print(f'MDRAE: {mdrae}')

MDRAE: 0.291666666666522