### Config

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
from huggingface_hub import hf_hub_download
import torch
from uni2ts.eval_util.plot import plot_single, plot_next_multi
from uni2ts.model.moirai import MoiraiForecast
from gluonts.dataset.pandas import PandasDataset
from gluonts.dataset.split import split

/Users/tomaltenborg/anaconda3/lib/python3.11/site-packages/torchvision/io/image.py:13: UserWarning: Failed to load image Python extension: 'dlopen(/Users/tomaltenborg/anaconda3/lib/python3.11/site-packages/torchvision/image.so, 0x0006): Symbol not found: __ZN3c1017RegisterOperatorsD1Ev
  Referenced from: <2BD1B165-EC09-3F68-BCE4-8FE4E70CA7E2> /Users/tomaltenborg/anaconda3/lib/python3.11/site-packages/torchvision/image.so
  Expected in:     <F8622D92-25A9-3A61-A089-C917FDA36C1B> /Users/tomaltenborg/anaconda3/lib/python3.11/site-packages/torch/lib/libtorch_cpu.dylib'If you don't plan on using image functionality from `torchvision.io`, you can ignore this warning. Otherwise, there might be something wrong with your environment. Did you have `libjpeg` or `libpng` installed before building `torchvision` from source?
  warn(

In [2]:
SIZE = "base"  # model size: choose from {'small', 'base', 'large'}
PSZ = "auto"  # patch size: choose from {"auto", 8, 16, 32, 64, 128}
BSZ = 32  # batch size: any positive integer

### Data

In [3]:
month = pd.read_parquet('/Users/tomaltenborg/Documents/Master/Master thesis/Notebooks/M3 Data/M3_month_processed.parquet')

In [4]:
test = month.loc[month['Series'].isin([1402, 2000, 2829])]

## Produce and store forecasts

In [5]:
# Initialize an empty DataFrame to store all forecasts
complete_df = pd.DataFrame()

counter = 0

for series in test['Series'].unique():
    # Filter and prepare data for the model
    filtered_temp = test[test['Series'] == series]
    N = filtered_temp['N'].iloc[0]
    NF = filtered_temp['NF'].iloc[0]
    
    # Prepare the dataset, keeping only the first N-NF records for training
    filtered_df = filtered_temp.iloc[:N-NF]
    filtered_df = filtered_df[['Series', 'Date', 'Value']]

    filtered_df['Date'] = pd.to_datetime(filtered_df['Date']) 

    # Set the 'date' column to year end
    filtered_df['Date'] = filtered_df['Date'] + pd.offsets.MonthEnd() #IMPORTANT has to be end, cannot be begining

    filtered_df.set_index('Date', inplace=True)

    # Convert into a GluonTS dataset
    ds = PandasDataset.from_long_dataframe(filtered_df, item_id='Series', target='Value')

    # Load and prepare the model
    model = MoiraiForecast.load_from_checkpoint(
        checkpoint_path=hf_hub_download(
            repo_id=f"Salesforce/moirai-1.0-R-{SIZE}", filename="model.ckpt"
        ),
        prediction_length=NF,
        context_length=N,
        patch_size=PSZ,
        num_samples=20, #return 20 distributions for each time point
        target_dim=1,
        feat_dynamic_real_dim=ds.num_feat_dynamic_real,
        past_feat_dynamic_real_dim=ds.num_past_feat_dynamic_real,
        map_location="cuda:0" if torch.cuda.is_available() else "cpu",
    )

    predictor = model.create_predictor(batch_size=BSZ)
    forecasts = predictor.predict(ds)

    counter += 1
    # Handle forecast output
    for forecast in forecasts:
        samples = forecast.samples
        item_id = forecast.item_id
        start_date = pd.Period(forecast.start_date, freq=forecast.start_date.freq)
        forecast_horizon = samples.shape[1]

        # Create a date range for the forecasts
        date_range = pd.period_range(start=start_date, periods=forecast_horizon, freq=start_date.freq)

        # Calculate the median of the samples at each time point
        medians = np.median(samples, axis=0)

        # Create the DataFrame for current forecast
        forecast_df = pd.DataFrame({
            'Date': date_range,
            'Series': item_id,
            'Median_Forecast': medians
        })

        # Append to the complete DataFrame
        complete_df = pd.concat([complete_df, forecast_df], ignore_index=True)
    # Simple print statement to track progress    
    if counter > 100:
        print('Finished 100 forecasts')
        counter = 0

complete_df.reset_index(drop=True, inplace=True)

In [6]:
# Turn to actual date values instead of periods
complete_df["Date"] = pd.to_datetime(complete_df["Date"].dt.to_timestamp())

         Date Series  Median_Forecast
0  1994-03-01   1402      3112.781250
1  1994-04-01   1402      3266.978516
2  1994-05-01   1402      2752.643555
3  1994-06-01   1402      3979.974854
4  1994-07-01   1402      4718.923828
5  1994-08-01   1402      3265.111816
6  1994-09-01   1402      3384.507812
7  1994-10-01   1402      2861.140625
8  1994-11-01   1402      3578.458984
9  1994-12-01   1402      3501.410156
10 1995-01-01   1402      4502.353516
11 1995-02-01   1402      4019.839844
12 1995-03-01   1402      3189.023438
13 1995-04-01   1402      3876.344727
14 1995-05-01   1402      3606.015137
15 1995-06-01   1402      2841.071777
16 1995-07-01   1402      3947.414551
17 1995-08-01   1402      4136.024902
18 1989-07-01   2000      5015.780273
19 1989-08-01   2000      5050.178711
20 1989-09-01   2000      5055.054199
21 1989-10-01   2000      5136.934570
22 1989-11-01   2000      5500.229980
23 1989-12-01   2000      4970.377930
24 1990-01-01   2000      5403.092773
25 1990-02-01   2000      4708.087891
26 1990-03-01   2000      5261.133301
27 1990-04-01   2000      4148.136230
28 1990-05-01   2000      5260.767578
29 1990-06-01   2000      4592.699219
30 1990-07-01   2000      5387.721680
31 1990-08-01   2000      5114.051758
32 1990-09-01   2000      4323.624512
33 1990-10-01   2000      5588.880859
34 1990-11-01   2000      4963.212891
35 1990-12-01   2000      5878.640625
36 1987-06-01   2829      1482.818726
37 1987-07-01   2829      1503.483643
38 1987-08-01   2829      1458.297852
39 1987-09-01   2829      1479.297119
40 1987-10-01   2829      1427.119751
41 1987-11-01   2829      1424.516968
42 1987-12-01   2829      1331.324707
43 1988-01-01   2829      1356.438843
44 1988-02-01   2829      1464.593262
45 1988-03-01   2829      1431.334229
46 1988-04-01   2829      1491.882568
47 1988-05-01   2829      1388.876709
48 1988-06-01   2829      1430.778076
49 1988-07-01   2829      1448.363770
50 1988-08-01   2829      1406.236084
51 1988-09-01   2829      1442.032227
52 1988-10-01   2829      1449.150635
53 1988-11-01   2829      1405.849609

In [ ]:
complete_df.to_parquet('M3_moirai_month_forecasts.parquet', engine='pyarrow', compression='snappy', index=False)